@import '../helpers/color';
@import '../helpers/fonts';
@import '../helpers/mixins';



.skills{
    @include padding;
    .row{
        justify-content: space-between;
        .skill-info{
            text-transform: capitalize;
            font-family: sans-serif;
            letter-spacing: .6px;
            h2{
                font-family: $alumni_font;
                font-size: 2.5rem;
                @media (max-width:567px) {
                    font-size: 2rem;
                }
                @media (min-width:768px) and (max-width:991px) {
                    font-size: 2rem;
                }
            }
            p{
                margin-top: 30px;
                color: $secondary_color;
                @media (max-width:567px) {
                    font-size: 15px;
                }
                @media (max-width:767px) {
                    margin-top: 15px;
                }
            }
            @media (max-width:767px) {
                margin-bottom: 30px;
            }
        }
        .target-item{
            margin-bottom: 40px;
            h4{
                font-size: 15px;
                display: flex;
                justify-content: space-between;
                font-family: $satisfy_font;
            }
            & .target{
                background-color: $primary_color;
                height: 5px;
                border-radius: 2px;
            }

            // $percentages: 85% , 60% , 70% , 40% ;

            // @for $i from 1 through 4 {
            //     &:nth-child(#{$i}){
            //         .target{
            //             @each $percent in $percentages{
            //                 width: $percent;
            //             }
            //         }
                    
            //     }
            // }
            
            

            &:nth-child(1){
                .target{
                    width: 85%;
                }
            }
            &:nth-child(2){
                .target{
                    width: 60%;
                }
            }
            &:nth-child(3){
                .target{
                    width: 70%;
                }
            }
            &:nth-child(4){
                .target{
                    width: 40%;
                }
            }
        }
    }
    .comp{
        background-color:$primary_color;
        padding: 50px 0;
        margin-top: 75px;
        .comp-content{
            display: flex;
            justify-content: space-around;
            font-family: $alumni_font;
            h3{
                color: white;
                font-size: 2.5rem;
                @media (max-width:767px) {
                    margin-bottom: 30px;
                    font-size: 2rem;
                }
                @media (min-width:768px) and (max-width:991px) {
                    font-size: 2rem;
                }
            }
            button{
                border: 1px solid white;
                outline: none;
                background-color: unset;
                color: white;
                width: 150px;
                height: 50px;
                border-radius: 25px;
                font-size: 22px;
                &:hover{
                    background-color: white;
                    color: $primary_color;
                }
            }
            @media (max-width:767px) {
                display:block;
                text-align: center;
            }

        }
    }
    @media (max-width:567px) {
        padding: 50px 0;
    }
}


