@import '../helpers/mixins';

.main-title{
    @include caption-box;
    h2{
        @include caption-header;
        @media (min-width:567px) and (max-width:767px){
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
        @media (min-width:768px){
            margin-bottom: 20px;
            font-size: 3rem;
        }
    }
    p{
        @include caption-title;
        @media (min-width:567px) and (max-width:767px){
            width: 70%;
            font-size: 17px;
        }
        @media (min-width:768px){
            width: 50%;
            font-size: 17px;
        }
    }
    @media  (max-width:767px){
        margin-bottom:50px;
        font-size: 3rem;
    }
}